/* app css stylesheet */

body {
  padding-top: 20px;
}

div.album {
	float:left;
	width:300px;
	margin:10px 10px 5px 5px;
	padding:5px;
	min-height:200px
}

div.album div.description {
	padding-top: 2px;

}

div.album a {
	color:white;
}


